/* main {
    height: 100vh;
    position: relative;
  } */
  
  /* .header {
    height: 150px;
    background: yellow;
    padding: 30px;
    display: flex;
    align-items: flex-end;
  } */
  
  /* .resposta {
    padding: 10px;
    font-size: 20px;
    background: blue;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 8px black;
  } */
  
  /* footer {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  footer img {
    height: 30px;
  } */
  